<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Tab</key>
	<array>
		<dict>
			<key>title</key>
			<string>我的1</string>
			<key>class</key>
			<string>OneViewController</string>
			<key>unselectImg</key>
			<string>mine_unselected</string>
			<key>selectImg</key>
			<string>mine_selected</string>
			<key>unselectTitleColor</key>
			<string>#838383</string>
			<key>selectTitleColor</key>
			<string>#FF5400</string>
			<key>barItemFont</key>
			<string>{F:10}</string>
		</dict>
		<dict>
			<key>title</key>
			<string>我的2</string>
			<key>class</key>
			<string>TwoViewController</string>
			<key>unselectImg</key>
			<string>mine_unselected</string>
			<key>selectImg</key>
			<string>mine_selected</string>
			<key>unselectTitleColor</key>
			<string>#838383</string>
			<key>selectTitleColor</key>
			<string>#FF5400</string>
			<key>barItemFont</key>
			<string>{F:10}</string>
		</dict>
		<dict>
			<key>title</key>
			<string>我的3</string>
			<key>class</key>
			<string>ThreeViewController</string>
			<key>unselectImg</key>
			<string>mine_unselected</string>
			<key>selectImg</key>
			<string>mine_selected</string>
			<key>unselectTitleColor</key>
			<string>#838383</string>
			<key>selectTitleColor</key>
			<string>#FF5400</string>
			<key>barItemFont</key>
			<string>{F:10}</string>
		</dict>
		<dict>
			<key>title</key>
			<string>我的4</string>
			<key>class</key>
			<string>FourViewController</string>
			<key>unselectImg</key>
			<string>mine_unselected</string>
			<key>selectImg</key>
			<string>mine_selected</string>
			<key>unselectTitleColor</key>
			<string>#838383</string>
			<key>selectTitleColor</key>
			<string>#FF5400</string>
			<key>barItemFont</key>
			<string>{F:10}</string>
		</dict>
		<dict>
			<key>title</key>
			<string>我的5</string>
			<key>class</key>
			<string>FiveViewController</string>
			<key>unselectImg</key>
			<string>mine_unselected</string>
			<key>selectImg</key>
			<string>mine_selected</string>
			<key>unselectTitleColor</key>
			<string>#838383</string>
			<key>selectTitleColor</key>
			<string>#FF5400</string>
			<key>barItemFont</key>
			<string>{F:10}</string>
		</dict>
	</array>
	<key>Nav</key>
	<dict>
		<key>isHaveNav</key>
		<true/>
		<key>navBarColor</key>
		<string>#FF5400</string>
		<key>navBarTitleColor</key>
		<string>#FFFFFF</string>
		<key>navBarTitleFont</key>
		<string>{F:18}</string>
	</dict>
</dict>
</plist>
